.about--sec1{
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    .sec1__wrap{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 0;
    }
    .sec1__right{
        background: rgba($color: #fff, $alpha: 0.75);
        padding-top: 108px;
        padding-left: 103px;
        position: relative;
        padding-bottom: 196px;
        flex: 0 0 530px;
        width: 530px;
    }
    .sec1__right:after{
        content: "";
        width: 100vw;
        height: 100%;
        display: block;
        background: rgba($color: #fff, $alpha: 0.75);
        left: 100%;
        top: 0;
        position: absolute;
    }
    .sec1__row{
        color: #000;
    }
}

@media (max-height: 800px){
    .about--sec1{
        .sec1__right{
            padding-bottom: 100px;
        }
    }
}


@media(max-width: 600px){
    .about--sec1{
        .sec1__right{
            flex: 0 0 320px;
            width: 320px;
            margin-left: -30px;
            padding-left: 20px;
            padding-top: 51px;
            padding-bottom: 51px;
            padding-right: 20px;
        }
        .sec1__right:after{
            display: none;
        }
        .sec1__wrap{
            justify-content: flex-start;
        }
        .sec1__row{
            font-size: 16px;
        }
    } 
}
@media(max-width: 374px){
    .about--sec1{
        .sec1__right{
            flex: 0 0 300px;
            width: 300px;
        }
    }
}


.about--sec3{
    background-color: #fff;
    background-size: 60% auto;
}

.about--sec3__text{
    max-width: 477px;
    margin-top: 138px;
    margin-bottom: 119px;
    p{
    
        color: #000000;
    }
}

@media (max-width: 1366px){
    .about--sec3{
        background-position: 100% center;
    }
    .about--sec3__text{
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media (max-width: 991px){
    .about--sec3__text{
        margin-top: 69px;
        margin-bottom: 85px;
        max-width: 370px;
    }
}

@media (max-width: 767px){
    .about--sec3{
        padding-bottom: 165vw;
        background-position: left 25% bottom;
        background-size: 250%;
        .btn{
            margin: 0 auto;
            font-weight: 500;
            line-height: 130%;
            display: block;
            width: 282px;
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.about-sec{
    padding-top: 275px;
    padding-bottom: 275px;
    color: #fff;
    min-height: 100vh;
}
@media(max-height: 700px){
    .about-sec{
        min-height: initial;
        padding-top: 100px;
        padding-bottom: 100px;
    }   
}
@media(max-width: 1600px){
    .about-sec{
        padding-top: 150px;
        padding-bottom: 150px;
    }   
}
@media(max-width: 1200px){
    .about-sec{
        min-height: initial;
        padding-top: 100px;
        padding-bottom: 100px;
    }   
}

@media(min-height: 1400px){
    .about-sec{
        min-height: initial;
    }
}
.about--sec1{
    background-attachment: fixed;
}
.about-sec{
    background-attachment: fixed;
    background-position: bottom center;
    overflow: hidden;
}
.about-right-block{
    max-width: 580px;
    text-align: right;
    margin-left: auto;
    .title{
        margin-bottom: 136px;
    }
    .btn{
        margin-top: 136px;
    }
}

@media(max-width: 1199px){
    .about-right-block{
        .title{
            margin-bottom: 50px;
        }
        .btn{
            margin-top: 50px;
        }
    }
}

@media(max-width: 767px){
    .about-sec{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .about-right-block{
        .btn{
           display: block;
           width: 100%;
           max-width: 280px;
           padding-right: 0;
           padding-left: 0;
           margin-right: auto;
           margin-left: auto;
        }
    }
}

.about-arh{
    background-position: right;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;
    position: relative;
    min-height: 100vh;
    .wrap{
        position: relative;
        z-index: 2;
    }
    .about-arh__wrap2{
        margin-top: 119px;
    }
    .sec2__wrap2__item{
        .left{
            min-width: 239px;
        }
        .mid{
            border-bottom: 1px dashed #000;
            margin-right: 39px;
        }
    }
}
@media(max-height: 700px){
    .about-arh{
        min-height: initial;
    }
}
@media(max-width: 1200px){
    .about-arh{
        min-height: initial;
    }
}
@media(min-height: 1400px){
    .about-arh{
        min-height: initial;
    }
}
.about-arh:after{
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    background: linear-gradient(90deg, #FFFFFF 76.63%, rgba(255, 255, 255, 0) 103.04%);
    position: absolute;
}
.about-arh__wrap{
    max-width: 580px;
}

@media(max-height: 800px){
    .about-arh{
        padding-top: 200px;
        padding-bottom: 150px;
    }
}

@media(max-width: 1200px){
    .about-arh{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
}
@media(max-width: 991px){
    .about-arh:after{
        width: 90%;
    }
    .about-arh__wrap {
        max-width: 525px;
    }
}

@media(max-width: 767px){
    .about-arh:after{
        width: 100%;
        background: #fff;
    }
    .about-arh{
        .sec2__wrap2__item{
            width: 100%;
            .mid{
                flex: 1;
                margin-right: 15px;
            }
        }
    }
    .about-arh .sec2__wrap2__item .left {
        min-width: 165px;
    }
    .about-arh{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about-arh .about-arh__wrap2{
        margin-top: 50px;
    }
}

.about-justify-block{
    display: flex;
    justify-content: space-between;
    .left{
        max-width: 564px;
        padding-right: 15px;
        .title{
            margin-top: 0;
        }
    }
    .right{
        max-width: 420px;
        margin-right: 50px;
        ul{
            margin: 0;
            padding: 0;
        }
        ul li{
            list-style: none;
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;
        }
    }
    .icon{
        width: 13px;
        height: 13px;
        position: absolute;
        top: 5px;
        left: 0;
    }
}

@media(max-width: 1199px){
    .about-justify-block{
        .right{
            margin-right: 0;
        }
    }
}

@media(max-width: 991px){
    .about-justify-block .left{
        max-width: 440px;
    }
}

@media(max-width: 767px){
    .about-justify-block{
        flex-direction: column;
        position: relative;
        padding-bottom: 100px;
        .btn{
            position: absolute;
            left: 0px;
            bottom: 0;
            font-size: 14px;
            display: block;
            margin: 0 auto;
            padding-right: 0;
            padding-left: 0;
            max-width: 283px;
            width: 100%;
        }
        
        .right{
            width: 100%;
            max-width: 100%;
            ul{
                max-width: 269px;
            }
        }
    }
}

.about-dis{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    background-attachment: fixed;
    min-height: 100vh;
    .about-justify-block{
        padding-top: 207px;
        padding-bottom: 111px;
    }
}
@media(max-height: 700px){
    .about-dis{
        min-height: initial;
    }
}
@media(max-width: 1200px){
    .about-dis{
        min-height: initial;
    }
}
@media(min-height: 1080px){
    .about-dis{
        min-height: 1080px;
    }
}
.about-dis-img{
    display: block;
    width: 100%;
}

@media(max-width: 991px){
    .about-dis{
        .about-justify-block{
            padding-top: 100px;
            padding-bottom: 60px;
        }
    }
    .about-dis-img{
        display: none;
    }
}

@media(max-width: 767px){
    .about-dis{
        .about-justify-block{
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
   
}

.about-smart{
    padding-top: 281px;
    padding-bottom: 281px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}
.about-smart__wrap{
    max-width: 564px;
    margin-left: auto;
    text-align: right;
    .title{
        margin-bottom: 96px;
    }
}
.about-smart__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: bottom center;
}

@media(max-height: 700px){
    .about-smart{
        min-height: initial;
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
@media(min-height: 1080px){
    .about-smart{
        min-height: 1080px;
    }
}

@media(max-width: 1300px){
    .about-smart{
        min-height: initial;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .about-smart__wrap{
        max-width: 50%;
        padding-left: 15px;
    }
}

@media(max-width: 991px){
    .about-smart__img{
        display: none;
    }
    .about-smart{
        padding-top: 0;
    }
    .about-smart__wrap{
        max-width: 450px;
        .title{
            margin-bottom: 64px;
        }
    }
}

.about-defend{
    padding-top: 250px;
    padding-bottom: 250px;
    min-height: 100vh;
    color: #fff;
}
@media(max-height: 700px){
    .about-defend{
        min-height: initial;
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
@media(min-height: 1080px){
    .about-defend{
        min-height: 1080px;
    }
}
@media(max-width: 1200px){
    .about-defend{
        min-height: initial;
    }    
}
.about-defend__wrap{
    max-width: 564px;
    .title{
        margin-top: 0;
    }
    ul{
       
        margin: 0;
        padding: 0;
        margin-top: 52px;
        li{
            padding-left: 0;
            margin-bottom: 5px;
            position: relative;
            padding-left: 25px;
            list-style: none;
        }
    }
    .icon{
        width: 13px;
        position: absolute;
        left: 0;
        top: 5px;
        height: 13px;
    }
}

@media(max-width: 767px){
    .about-defend{
        padding-top: 77px;
        padding-bottom: 77px;
        background-position: right -150px center;
    }
    .about-defend__wrap{
        ul{
            margin-top: 35px;
        }
    }
}

.about-last{
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fff;
    overflow: hidden;
    .title{
        margin-bottom: 37px;
    }
    h3{
        font-weight: bold;
        font-size: 26px;
        line-height: 110%;
        margin-bottom: 73px;
    }
}
.about-last p{
    font-size: 26px;
    line-height: 120%;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.about-last-free{
    display: flex;
    justify-content: space-between;
}

.about-last-free__col{
    max-width: 235px;
    margin-bottom: 68px;
    flex: 1;
    .big{
        font-weight: bold;
        font-size: 96px;
        line-height: 110%;
        span{
            font-size: 36px;
            line-height: 110%;
        }
    }
    .small{
        font-weight: 600;
        font-size: 18px;
        line-height: 110%;
    }
}

.about-last.sec-shadow:before{
    background-image: url('../img/about/about-shadow.png');
}
.about-last__bot{
    display: flex;
    padding-left: 35px;
    margin-right: -250px;
}

.about-last__bot__col{
    width: calc(100% / 5);
    .data{
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 23px;
    }
    .decor{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 29px;
        .round{
            border: 5px solid #FFFFFF;
            width: 29px;
            height: 29px;
            border-radius: 100%;
        }
        .line{
            flex: 1;
            background-image: url('../img/about/line.png');
            height: 5px;
            background-repeat: repeat-x;
            background-position: left center;
            margin-left: 5px;
        }
    }
    .text{
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        max-width: 163px;
    }
}

.about-last__bot__col:last-child{
    .data{
        padding-left: 30px;
    }
    .decor{
        .line{
            flex: 0 0 20px;
            order: 1;
        }
        .round{
            order: 2;
        }
    }
}
.about-last-img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about-last__mob{
    display: none;
}
@media(max-width: 1500px){
    .about-last__bot{
        margin-right: -150px;
    }
}

@media(max-width: 1320px){
    .about-last__bot{
        margin-right: -30px;
        padding-left: 0;
    }
    .about-last{
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

@media(max-width: 1024px){
    .about-last{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .about-last__bot{
        flex-direction: column;
        margin-right: 0;
    }
    .about-last__bot__col{
        display: flex;
        width: 100%;
        min-height: 150px;
        margin-bottom: 0;
        .data{
            width: 62px;
            margin-right: 29px;
            margin-bottom: 0;
        }
        .decor{
            flex-direction: column;
            align-items: center;
            margin-right: 24px;
            width: auto;
            margin-bottom: 0;
            .line{
                flex: 1;
                margin-left: 0;
                width: 5px;
                background-image: url('../img/about/line2.png');
                background-repeat: repeat-y;
                background-position: center top;
                margin-top: 12px;
                margin-bottom: 12px;
            }
        }
        .text {
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            max-width: 250px;
        }
    }
    .about-last__bot__col:last-child{
        .data{
            padding-left: 0;
        }
        .decor{
            .line{
                order: 2;
                display: none;
            }
            .round{
                order: 1;
            }
        }
    }
    .about-last-free__col{
        max-width: 220px;
        flex: 1;
        .big{
            font-size: 80px;
        }
    }
}

@media(max-width: 767px){
    .about-last-free{
        flex-direction: column;
        align-items: center;
        margin-top: 76px;
    }
    .about-last-free__col{
        text-align: center;
        .small{
            font-size: 16px;
        }
    }
    .about-last p{
        font-size: 16px;
        line-height: 1.1;
    }
    .about-last{
        padding-top: 58px;
        padding-bottom: 58px;
    }
    .about-last h3{
        font-size: 16px;
        line-height: 110%;
        margin-bottom: 33px;
    }
    .about-last__bot__col{
        .data{
            font-size: 16px;
            line-height: 30px;
            width: 44px;
        }
        
        .decor{
            .round{
                width: 20px;
                height: 20px;
                border-width: 3px;
            }
        }
        .text{
            font-size: 16px;
            line-height: 30px;
        }
    }
    .about-last-img{
        background-position: bottom center;
        background-attachment:initial;
    }
    .about-last__mob{
        display: block;
    }
    .about-last__des{
        display: none;
    }
    .about--sec3 .sec-shadow:before{
        opacity: 0.5;
    }
}

.about-doc{
    padding-top: 150px;
}

@media(max-width: 1300px){
    .about-doc{
        padding-top: 100px;
    }
}

@media(max-width: 991px){
    .about-doc{
        padding-top: 50px;
    }
}

.about-pag{
    position: fixed;
    bottom: 51px;
    left: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.about-pag__item{
    background-color: transparent;
    border: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 5px;
}
.about-pag__item:not(.active):hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.3s all;
}
.about-pag__item span{
    width: 8px;
    height: 8px;
    display: block;
    background-color: #fff;
    border-radius: 100%;
   
}

.about-pag__item.active span{
    height: 146px;
    margin-bottom: 6px;
    margin-top: 6px;
    border-radius: 0;
    width: 1px;
    transition: all 0.1s ease-in-out;
}

.about-pag.white{
    .about-pag__item span{
        background-color: #4D4D4D;
    }
}
@media(max-width: 1600px){
    .about-pag{
        left: 15px;
        bottom: 15px;
    }
}
@media(max-height: 500px){
    .about-pag{
        display: none;
    }
}
@media(min-width: 2400px){
    .about-pag{
        .about-pag__item span{
            background-color: #4D4D4D;
        }
    }
}
@media(max-width: 1300px){
    .about-pag{
        display: none;
    } 
}

@media (max-width: 1024px){
    .about-builder{
        .about-last {
            padding-top: 150px;
            padding-bottom: 100px;
        }
    }
}

@media(max-width: 575px){
    .about-builder{
        .about-last {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }
}

.history {
    padding: 40px 0 50px;
    background-color: #F8F8F8;
  }
  
  .history__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
  }
  
  .history__item {
    max-width: 293px;
  }
  
  .history__top {
    position: relative;
   
   
  }
  .history__top:before{
    content: "";
    left: 30px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/about/line.png);
    height: 5px;
    background-repeat: repeat-x;
  }
  
  .history__date {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 35px;
    letter-spacing: 0.05em;
    color: #fff;
  }
  
  .history__dot {
    position: absolute;
    bottom: -10px;
    left: 3px;
    display: inline-block;
    background-color: transparent;
    border: 5px solid #FFFFFF;
    width: 29px;
    height: 29px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
  }
  
  .history__box {
    margin-top: 50px;
    padding: 0 6px;
  }
  
  .history__img {
    width: 100%;
    padding-top: 114%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }
  
  .history__inner {
    padding: 0 6px;
  }
  
  .history__title {
    min-height: 57px;
    margin-top: 25px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
  .history__description {
    margin-top: 6px;
    padding: 0 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

@media (max-width: 1100px) {
    .history__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  
    .history__item {
      max-width: unset;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .history__top {
      margin-left: 20px;
      border-bottom: none;
    }
    .history__top:before{
        background-image: url("../img/about/line2.png");
        left: 3px;
        background-repeat: repeat-y;
        height: auto;
        top: 82px;
        bottom: -35px;
        background-position: left top;
    }
  
    .history__date {
      margin-top: 35px;
      padding-left: 35px;
      width: 110px;
    }
  
    .history__dot {
      bottom: 0;
      top: 44px;
      left: -11px;
    }
  
    .history__box {
      margin: 15px 0 15px 0;
    }
  
    .history__img {
      width: 230px;
    }
  
    .history__title {
      margin-top: 50px;
      font-size: 22px;
      line-height: 22px;
    }
  
    .history__description {
      font-size: 16px;
    }
  
    .projects__bg {
      display: none;
    }
  
    .projects__wrapper .container {
      padding: 0;
    }
    // .history__top:before{
    //     display: none;
    // }
    .history__date{
        font-size: 17px;
        line-height: 49px;
    }
    
}

  @media(min-width: 1100px){
    .history__wrapper{
    }
    .history__item{
        width: calc(100% / 5);
    }
}

.history__img{
    position: relative;
}
.history__img:before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: 0.3s all;
    z-index: 1;
    display: block;
    position: absolute;
}
.history__img svg{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s all;
    z-index: 1;
}

.history__box_gal:hover .history__img svg{
    opacity: 1;
} 

.history__box_gal:hover .history__img:before{
    background-color: rgba(0,0,0,0.3);
}


@media (max-width: 768px) {
    .history__top:before{
        display: none;
    }
  
    .history {
      padding: 23px 0 45px;
    }
  
    .history__wrapper {
      margin-top: 0px;
    }
  
    .history__item {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 25px;
    }
  
    .history__item + .history__item {
      margin-top: 56px;
    }
  
    .history__box {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .history__img {
      width: 100%;
      height: 261px;
      padding: 0;
    }
  
    .history__top {
      display: inline-block;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      width: 64px;
      margin: 21px 0 0 16px;
      border: none;
    }
  
    .history__date {
      width: auto;
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 21px;
    }
  
    .history__dot {
      top: 54px;
      left: 0px;
    }
  
    .history__inner {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      width: calc(100% - 80px);
    }
  
    .history__title {
      margin-top: 25px;
      min-height: auto;
      word-wrap: break-word;
    }
  
    .history__description {
      margin-top: 19px;
    }
  
    
}


@media(max-width: 374px){
    .history__description{
        font-size: 14px;
        padding-right: 0;
    }
    .history__title{
        font-size: 18px;
        padding-right: 0;
    }
}