.footer {
  padding: 220px 0;
  a:hover {
    text-decoration: underline;
  }
  .btn {
    width: 100%;
  }
  .btn:hover{
    text-decoration: none;
  }
}
.footer__wrap {

}
.footer__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  & + .footer__row {
    margin-top: 94px;
  }
}
.footer__text__small {
  display: inline-block;
  width: 100%;
  margin: 21px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  color: #000;
}
.footer__text__big {
  display: inline-block;
  min-height: 52px;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #000;
}
.footer__box__7 {
  max-width: 650px;
}
.footer__box__6 {
  width: 50%;
  padding: 0 10px;
}
.footer__box__3 {
  width: 25%;
  padding: 0 10px;
}
.footer__drop__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__drop__arrow {
  display: none;
  transition: all linear 0.3s;
  svg {
    height: 10px;
    width: 20px;
    color: #000;
    fill: #000;
    stroke: #000;
  }
}
.footer__drop.active .footer__drop__arrow {
  transform: rotate(180deg);
}
@media (max-width: 1800px) {
  .footer {
    padding: 100px 0;
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 55px 0;
  }
  .footer__row {
    flex-wrap: wrap;
    & + .footer__row {
      margin-top: 40px;
    }
  }
  .footer__box__3 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer{
    padding: 45px 0;
  }
  .footer__text__small {
    font-size: 16px;
    margin: 16px 0;
  }
  .footer__text__big {
    min-height: unset;
    font-size: 18px;
    padding: 12px 0 0;
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .footer__drop__arrow {
    display: inline-block;
  }
  .footer__drop {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .footer__drop__box {
    display: none;
    margin-bottom: 20px;
  }
  .footer__row {
    flex-direction: column;
    margin: 0;
  }
  .footer__box__7 {
    max-width: unset;
  }
  .footer__box__6 {
    width: 100%;
    padding: 0;
  }
  .footer__box__3 {
    width: 100%;
    padding: 0;
  }
}