.footer {
  padding: 220px 0;
  a:hover {
    text-decoration: underline;
  }
  .btn {
    width: 100%;
  }
  .btn:hover{
    text-decoration: none;
  }
}
.footer__wrap {

}
.footer__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  & + .footer__row {
    margin-top: 94px;
  }
}
.footer__text__small {
  display: inline-block;
  width: 100%;
  margin: 21px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  color: #000;
}
.footer__text__big {
  display: inline-block;
  min-height: 52px;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #000;
}
.footer__box__7 {
  max-width: 650px;
}
.footer__box__6 {
  width: 50%;
  padding: 0 10px;
}
.footer__box__3 {
  width: 25%;
  padding: 0 10px;
}
.footer__drop__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__drop__arrow {
  display: none;
  transition: all linear 0.3s;
  svg {
    height: 10px;
    width: 20px;
    color: #000;
    fill: #000;
    stroke: #000;
  }
}
.footer__drop.active .footer__drop__arrow {
  transform: rotate(180deg);
}
@media (max-width: 1800px) {
  .footer {
    padding: 100px 0;
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 55px 0;
  }
  .footer__row {
    flex-wrap: wrap;
    & + .footer__row {
      margin-top: 40px;
    }
  }
  .footer__box__3 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer{
    padding: 45px 0;
  }
  .footer__text__small {
    font-size: 16px;
    margin: 16px 0;
  }
  .footer__text__big {
    min-height: unset;
    font-size: 18px;
    padding: 12px 0 0;
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .footer__drop__arrow {
    display: inline-block;
  }
  .footer__drop {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .footer__drop__box {
    display: none;
    margin-bottom: 20px;
  }
  .footer__row {
    flex-direction: column;
    margin: 0;
  }
  .footer__box__7 {
    max-width: unset;
  }
  .footer__box__6 {
    width: 100%;
    padding: 0;
  }
  .footer__box__3 {
    width: 100%;
    padding: 0;
  }
}


.footer__top{
  display: flex;
  margin-bottom: 68px;
}
.footer__top__left{
  flex: 1;
}
.footer__top__right{
  flex: 0 0 375px;
}
.footer__office{
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 53px;
  span{
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
  }
}
.footer__nav{
  display: flex;
}
.footer__nav__col{
  margin-right: 103px;
}
.footer__nav__col:last-child{
  margin-right: 0;
}
.footer__nav__name{
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #000;
  margin-bottom: 31px;
}

.footer__nav__col ul{
  margin: 0;
  padding: 0;
  padding-left: 62px;
}
.footer__nav__col li{
  list-style: none;
  margin-bottom: 15px;
}
.footer__nav__col a{
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
}
.footer__text{
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 15px;
}

.footer__policy{
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
}
.footer__policy:hover{
  color: #000;
}

.footer__soc{
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  li{
    list-style: none;
    margin-right: 70px;
  }
  li:last-child{
    margin-right: 0;
  }
  a{
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  a:hover{
    transform: scale(1.1);
  }  
}

.footer__bot__text{
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 14px;
}
.footer__bot__row{
  display: flex;
  align-items: flex-start;
  img{
    margin-right: 27px;
  }
}

.footer__bot__text2{
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  max-width: 585px;
}

@media(max-width: 1100px){
  .footer__top__left{
    padding-right: 25px;
  }
  .footer__nav__col{
    margin-right: 60px;
  }
}

@media(max-width: 991px){
  .footer__nav__col ul{
    padding-left: 0;
  }
  .footer__office{
    margin-bottom: 35px;
    font-size: 20px;
  }
  .footer__text{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer__soc li{
    margin-right: 55px;
  }
  .footer__top__right{
    flex: 0 0 320px;
  }
  .footer__nav__col{
    margin-right: 30px;
  }
}

@media(max-width: 767px){
  .footer__top{
    flex-direction: column;
  }
  .footer__top__left{
    padding-right: 0;
    margin-bottom: 50px;
  }
  .footer__top__right{
    flex: auto;
    width: 100%;
  }
  .footer__bot__row{
    flex-direction: column;
    img{
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 250px;
    }
  }
  .footer__bot{
    text-align: center;
  }
  .footer__nav__name{
    margin-bottom: 15px;
    font-size: 20px;
  }
  .footer__nav__col a{
    font-size: 16px;
  }
  .footer__nav__col li{
    margin-bottom: 10px;
  }
  .footer__office{
    max-width: 300px;
  }
}