body{
    
}

.sec1{
    position: relative;
    height: 100vh;
    max-height: 1080px;
    display: flex;
    align-items: center;
}

.sec1__shadow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    background-image: url('../img/index/shadow.png');
    background-size: 100% 100%;
    background-position: center;
}


.sec1__wrap{
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    padding-top: 155px;
    padding-bottom: 55px;
}
.sec1__left{
    flex: 1;
    padding-left: 272px;
    padding-bottom: 180px;
}
.sec1__right{
    flex: 0 0 505px;
    width: 505px;
}
.sec1__title{
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.sec1__text{
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 66px;
}



.btn-play{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 17px;
    line-height: 110%;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}
.btn-play__icon{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 100%;
    margin-bottom: 23px;
    transition: 0.3s all;
    position: relative;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
    svg{
        width: 21px;
        margin-left: 5px;
        transition: 0.3s all;
    }
}

.btn-play__icon:before{
    content: "";
    display: block;
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    position: absolute;
    transition: 0.3s all;
    opacity: 0;
}

.btn-play:hover{
    .btn-play__icon{
        animation: none
    }
    .btn-play__icon:before{
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        opacity: 1;
    }
}

@keyframes pulse {
	0% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		
		box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
	}

	100% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.sec1__row{
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.sec1__row span{
    width: 31px;
    min-width: 31px;
    height: 31px;
    background: #568F27;
    border-radius: 100%;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        width: 13px;
        height: 8px;
    }
}
@media(max-height: 850px){
    .sec1__title{
        font-size: 50px;
    }
    .sec1__text{
        font-size: 24px;
        margin-bottom: 45px;
    }
    .sec1__right{
        flex: 0 0 495px;
        width: 495px;
    }
    .sec1__row{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .sec1__left{
        padding-bottom: 85px;
    }
}
@media(max-height: 700px){
    .sec1{
        height: auto;
    }
}

@media(max-width: 1200px){
    .sec1{
        height: auto;
    }
}