body{
    
}

.sec1{
    position: relative;
    height: 100vh;
    min-height: 700px;
    padding-top: 305px;
}

.sec1__shadow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    background-image: url('../img/index/shadow.png');
    background-size: 100%;
}


.sec1__wrap{
    display: flex;
    position: relative;
    z-index: 2;
}
.sec1__left{
    flex: 1;
}
.sec1__right{
    flex: 0 0 174px;
}
.sec1__title{
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    color: #FFFFFF;
}

.sec1__text{
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #FFFFFF;
}

.sec1__left{
    display: flex;
    justify-content: center;
}

.btn-play{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 17px;
    line-height: 110%;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}
.btn-play__icon{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 100%;
    margin-bottom: 23px;
    transition: 0.3s all;
    position: relative;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
    svg{
        width: 21px;
        margin-left: 5px;
        transition: 0.3s all;
    }
}

.btn-play__icon:before{
    content: "";
    display: block;
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    position: absolute;
    transition: 0.3s all;
    opacity: 0;
}

.btn-play:hover{
    .btn-play__icon{
        animation: none
    }
    .btn-play__icon:before{
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        opacity: 1;
    }
}

@keyframes pulse {
	0% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

