.location-sec1{
    min-height: 100vh;
    padding-top: 200px;
    height: auto;
    align-items: flex-start;
    overflow: hidden;
    background-attachment: fixed;
}
@media(min-height: 1080px) and (min-width: 1600px){
    .location-sec1{
        min-height: 1080px;
    }
}
.location-sec1__wrap{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.metro__list{
    flex: 1;
}
.metro__item{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 37px;
    .m-icon{
        width: 32px;
        min-width: 32px;
        height: 32px;
        margin-right: 15px;
        .icon{
            width: 100%;
            height: 100%;
        }
    }
    .time{
        // min-width: 65px;
    }
    .line{
        margin-right: 12px;
        margin-left: 5px;
        flex: 0 0 45px;
        border-bottom: 2px dashed #FFFFFF;
    }
    .name{
        white-space: nowrap;
    }
}
@media(max-width: 767px){
    .metro__item{
        font-size: 16px;
    }
}
.location-text-block{
    width: 50%;
    position: relative;
    padding-top: 99px;
    padding-left: 120px;
    padding-bottom: 99px;
    background-color: rgba($color: #fff, $alpha: 0.75);
    margin-top: 75px;
}
.location-text-block:after{
    content: '';
    top: 0;
    bottom: 0;
    width: 50vw;
    left: 100%;
    position: absolute;
    background-color: rgba($color: #fff, $alpha: 0.75);
}
.location-text-block:before{
    content: '';
    right: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    top: 100%;
    position: absolute;
    background-color: rgba($color: #fff, $alpha: 0.75);
}

.location-sec3{
    background-size: 60% auto;
    color: #fff;
    p{
        margin-top: 42px;
    }
    .sec3__title{
        font-size: 26px;
        max-width: 477px;
        font-weight: 600;
    }
    .sec3__wrap3__item {
        width: 100%;
    }
    .sec3__wrap3__item .left{
        color: #fff;
        min-width: 72px;
        max-width: 250px;
    }
    .sec3__wrap3__item .right{
        max-width: initial;
        white-space: normal;
    }
    .sec2__wrap2__item{
        margin-right: 0;
    }
}


@media (max-width: 1366px){
    .location-sec3{
        background-position: 100% center;
    }
}
@media (max-width: 767px){
    .location-sec3{
        padding-bottom: 165vw;
        background-position: left 25% bottom;
        background-size: 250%;
    }
}
@media (max-width: 575px){
    .location-sec3:before{
        display: none;
    }
    .location-sec3{
        .sec3__wrap3__item .mid {
            width: auto;
            flex: 1;
        }
        .sec3__title{
            font-size: 16px;
            line-height: 150%;  
        }
        .sec3__wrap3__item{
            font-size: 14px;
        }
        .sec3__wrap3__item .left{
            font-size: 14px;
            min-width: 72px;
        }
        .sec3__wrap3__item .right{
            max-width: 115px;
        }
    }
    
}


@media(max-width: 1199px){
    .location-sec1{
        min-height: auto;
        max-height: initial;
    }
    .location-text-block{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    }
}

@media(max-width: 991px){
    .location-sec1{
        padding-top: 100px;
    }
    .location-text-block{
        margin-top: 0;
    }
    .location-sec1__wrap{
        flex-direction: column;
    }
    .location-text-block{
        width: 100%;
    }
}
@media(max-width: 575px){
    .location-text-block{
        padding: 25px 35px;
        padding-right: 0;
    }
}

.sec-park{
    padding-top: 118px;
    padding-bottom: 169px;
}
.sec-park__sub-title{
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 72px;
}
.park-wrap{
    display: flex;
    flex-wrap: wrap;
}

.park__item{
    display: block;
    position: relative;
    width: 50%;
    overflow: hidden;
}
    
.park__item__img{
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}
.park__item__img:before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.5s ease-in-out;
    background: rgba(77, 77, 77, 0.5);
}
.park__item__wrap{
    position: relative;
    z-index: 2;
    padding: 74px 63px 73px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    .name{
        margin-bottom: 54px;
        max-width: 373px;
    }
    .name span{
        font-weight: 300;
    }
    .bot{
        display: flex;
        align-items: center;
        svg{
            margin-right: 22.5px;
        }
    }
}

.park__item:hover{
    .park__item__img{
        transform: scale(1.1);
    }
    .park__item__img:before{
        background: rgba(77, 77, 77, 0.3);
    }
}


@media(max-width: 991px){
    .park__item{
        width: 100%;
        margin-bottom: 7px;
    }
    .sec-park{
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@media(max-width: 575px){
    .sec-park{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .park__item__wrap{
        padding: 25px;
        padding-right: 52px;
        font-size: 16px;
        line-height: 140%;
        .name{
            margin-bottom: 0;
        }
    }
    .park__item__wrap .bot{
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 0;
        svg{
            margin-right: 0;
        }
    }
    .sec-park__sub-title{
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 20px;
    }
}

.panorama{
    display: flex;
    flex-wrap: wrap;
}
.panorama__item{
    width: 50%;
    height: 28vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.panorama__item__img{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
    z-index: 1;
}
.panorama__item__img:before{
    content: "";
    position: absolute;
    display: block;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(77, 77, 77, 0.5);
    transition: 0.5s ease-in-out;
}
.panorama__item:hover{
    .panorama__item__img{
        transform: scale(1.05);
    }
    .panorama__item__img:before{
        background: rgba(77, 77, 77, 0.3);
    }
}

.panorama__item__btn{
    border: 1px solid #FFFFFF;
    padding: 15px 32px;
    border-radius: 60px;
    font-weight: 500;
    font-size: 17px;
    line-height: 110%;
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    text-align: center;
}

@media(max-width: 1200px){
    .panorama__item__btn{
        max-width: 354px;
    }
}

@media(max-width: 991px){
    .panorama__item{
        width: 100%;
        height: 52vw;
    }
}

@media(max-width: 575px){
    .panorama__item__btn{
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        /* or 15px */
        max-width: 280px;
        text-align: center;
        
        color: #FFFFFF;
    }
}