
.sec-apart{
    padding-top: 230px;
    padding-bottom: 100px;
    color: #fff;
}
  .sec-apart.sec-shadow:before{
    background-image: url('../img/index/appart-shadow.png');
  }
  
  
  @media(max-width: 1399px){
    .sec-apart{
      max-height: initial;
      padding-top: 200px;
      padding-bottom: 100px;
    }
  }
  .sec-apart__row{
    display: flex;
    align-items: center;
    margin-top: 257px;
    margin-bottom: 257px;
    .btn{
      width: 241px;
    }
    .btn:hover{
      opacity: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    }
  }
  
  .sec-apart__row__left{
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
  }
  
  .sec-apart__row__list{
    flex: 1;
    display: flex;
    padding: 0 25px;
  }
  
  .sec-apart__row__list .flat-checkbox{
    margin: 0 25px;
  }
  
  .flat-checkbox{
    cursor: pointer;
    input{
      display: none;
    }
    input + span{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 51px;
      height: 51px;
      border-radius: 100%;
      border: 1px solid #FFFFFF;
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
      transition: 0.1s all;
    }
    input:checked + span{
      background-color: #568F27;
      border: 1px solid #568F27;
    }
  }
  .flat-checkbox:hover{
    span{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }
  .apart__nav{
    margin-top: 50px;
  }
  .apart__nav ul{
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
  
  .apart__nav ul li{
    max-width: 194px;
    list-style: none;
  }
  .apart__nav ul li.active{
    border-bottom: 1px dashed #fff;
  }
  .apart__nav ul li a{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    display: block;
    padding-bottom: 12px;
  }
  .apart__nav--white{
    ul li.active{
        border-bottom: 1px dashed #000;
    }
    ul li a{
        color: #000;
    }
  }

.apart__nav ul li a:hover{
    opacity: 0.8;
}
@media(max-width: 1600px){
    .sec-apart__row{
        margin-top: 200px;
        margin-bottom: 200px;
    }
}
@media(max-width: 1200px){
    .sec-apart__row{
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

@media(max-width: 991px){
    .sec-apart__row__list .flat-checkbox{
        margin: 0 15px;
    }
    .sec-apart__row{
        flex-direction: column;
    }
    .apart__next{
        width: 100%;
        justify-content: center;
        display: flex;
        margin-top: 35px;
    }
    .sec-apart__row{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .sec-apart__row__left{
        margin-bottom: 25px;
    }
    .sec-apart{
        padding-top: 150px;
    }
    .apart__nav ul{
        flex-direction: column;
        align-items: center;
    }
    .apart__nav ul li{
        margin-bottom: 25px;
        max-width: 305px;
    }
    .apart__nav ul li a{
        text-align: center;
        padding-bottom: 5px;
    }
    .apart__nav ul li:last-child{
        margin-bottom: 0;
    }

    .sec-apart .title{
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    .sec-apart__row__list{
        padding-right: 0;
        padding-left: 0;
    }
    .sec-apart__row__left{
        text-align: center;
    }
}

@media(max-width: 575px){
    .sec-apart__row__list .flat-checkbox{
        margin: 0 6px;
    }
    .sec-apart__row{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .sec-apart{
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

.choose-flat{
    padding-top: 230px;
}
.choose-flat__wrap1{
    display: flex;
    align-items: flex-start;
}
.choose-flat__t{
    font-weight: bold;
    font-size: 46px;
    line-height: 110%;
    margin-bottom: 64px;
}

.choose-flat__list{
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 38px;
    .left{
        width: 110px;
    }
    .mid{
        height: 2px;
        width: 45px;
        background-image: url('../img/plan/line.png');
        background-repeat: no-repeat;
        margin-top: 11px;
        margin-right: 13px;
        margin-left: 13px;
    }
    .right{
        flex: 1;
    }
}
.choose-flat__btn{
    margin-top: 75px;
}
.choose-flat__col1{
    flex: 0 0 400px;
    padding-bottom: 50px;
}
.choose-flat__img1{
    width: 150px;
    margin-left: auto;
    margin-top: 93px;
}
.choose-flat__big-plan{
    flex: 1;
    margin-left: 73px;
    position: relative;
    img{
        display: block;
    }
}
.choose-flat__big-plan__text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25px, -50%);
    display: flex;
    align-items: center;
    .num{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51px;
        height: 51px;
        border-radius: 100%;
        background: #568F27;
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        color: #FFFFFF;
        margin-right: 21px;
    }
    .kv{
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        color: #000000;
        background-color: #fff;
    }
}

@media(max-width: 1200px){
    .choose-flat__big-plan{
        margin-left: 25px;
    }
    .choose-flat__img1{
        margin-top: 40px;
    }
}

@media(max-width: 991px){
    .choose-flat__wrap1{
        flex-direction: column;
    }
    .choose-flat__col1{
        width: 100%;
        flex: auto;
        position: relative;
        padding-right: 160px;
    }
    .choose-flat__img1{
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top:0;
        right: 0;
    }
    .choose-flat{
        padding-top: 130px;
    }
    .choose-flat__big-plan{
        margin-left: 0;
        width: 100%;
        flex: auto;
    }
}

@media(max-width: 767px){
    .choose-flat__t{
        font-size: 32px;
        margin-bottom: 40px;
    }
    .choose-flat__btn{
        margin-top: 40px;
    }
}

@media(max-width: 575px){
    .choose-flat__col1{
        padding-right: 0;
    }
    .choose-flat__img1{
        position: initial;
        margin: 0 auto;
        margin-top: 40px;
    }
}

.choose-flat__wrap2{
    display: flex;
    flex-wrap: wrap;
}
.choose-flat-num{
    background-color: #568F27;
    border: 1px solid #568F27;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 51px;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    margin-bottom: 38px;
}
.choose-flat__col2{
    flex: 0 0 650px;
    .choose-flat__t{
        margin-bottom: 29px;
    }
}
.choose-flat__col2__wrap{
    display: flex;
}
.choose-flat__col3{
    margin-right: 124px;
}
.choose-flat__img2__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: right;
    margin-top: 47px;
    margin-bottom: 29px;
}
.choose-flat__big__btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    a{
        border: 1px solid #000000;
        border-radius: 60px;
        font-weight: 500;
        font-size: 18px;
        line-height: 110%;
        color: #000000;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        min-width: 206px;
        padding: 0 15px;
        transition: 0.3s all;
        margin: 0 10px;
    }
    a:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    }
}
.choose-flat__img2 img{
    display: block;
    margin-left: auto;
}

@media(max-width: 1300px){
    .choose-flat__wrap2{
        .choose-flat__col2{
            flex: auto;
            width: 50%;
        }
        .choose-flat__col3{
            margin-right: 25px;
        }
    }
}

@media(max-width: 991px){
    .choose-flat__wrap2{
        flex-direction: column;
        .choose-flat__big-plan{
            width: 500px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        .choose-flat__col2{
            width: 100%;
            margin-bottom: 50px;
        }
        .choose-flat__col3{
            margin-right: 125px;
        }
    }
}
@media(max-width: 767px){
    .choose-flat__wrap2 .choose-flat__col3{
        margin-right: 25px;
    }
}

@media(max-width: 575px){
    .choose-flat__wrap2 .choose-flat__big-plan{
        width: 100%;
    }
    .choose-flat__big__btns a{
        min-width: 150px;
        font-size: 16px;
        margin-bottom: 15px;
        height: 45px;
    }
    .choose-flat__col2__wrap{
        flex-direction: column;
    }
    .choose-flat__img2 img{
        margin: 0 auto;
    }
    .choose-flat__img2__text{
        text-align: center;
    }
    .choose-flat__img2{
        margin-top: 35px;
    }
    .choose-flat__big__btns{
        flex-wrap: wrap;
    }
    .choose-flat__wrap2{
        .choose-flat__col3{
            margin-right: 0;
        }
    }
}

.param-flat{
    padding-top: 160px;
    overflow: hidden;
}
.param-flat__title{
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 42px;
}
.param-flat__top{
    display: flex;   
    flex-wrap: wrap;
    margin-bottom: 30px;
    
    .param-flat__label{
        margin-bottom: 24px;
    }
}
.param-flat__top__col{
   margin-bottom: 30px;
   padding-right: 15px;
  
}
.param-flat__top__col--1{
    width: 40%;
}
.param-flat__top__col--2{
    width: 25%;
}
.param-flat__top__col--3{
    width: 35%;
}
.param-flat__label{
    display: block;
    font-size: 18px;
    line-height: 130%;
}
.param-flat__top__content{
    padding-left: 60px;
}

.input-range{
    position: relative;
    margin-top: 35px;
}

.rangeslider__fill__bg{
    background-color: #000;
}
.rangeslider__fill, .rangeslider__handle{
    background-color: #568F27;
}
.rangeslider__handle{
    border: 0;
    z-index: 4;
}
.rangeslider__handle:active{
    background-color: #568F27;
  
}

.input-range__point{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #000;
    font-size: 14px;
    line-height: 130%;
    white-space: nowrap;
    text-align: center;
    z-index: 3;
    span{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        line-height: 130%;
    }

}

.input-range__point.input-range__start{
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
}

.input-range__point.input-range__end{
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(50%);
}

.input-range--price{
    max-width: 305px;
}

.input-range--sq{
    max-width: 206px;
}

.param-flat__type{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    a{
        border: 1px solid #4D4D4D;
        border-radius: 60px;
        display: inline-flex;
        font-weight: 500;
        font-size: 18px;
        line-height:1;
        color: #4D4D4D;
        height: 42px;
        min-width: 166px;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        margin-bottom: 15px;
    }
    a:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    }
    a.active{
        background-color: #4D4D4D;
        color: #fff;
    }
}

.rangeslider__fill, .rangeslider__fill__bg{
    height: 1px;
}

.rangeslider__handle span{
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 130%;
    white-space: nowrap;
    background-color: #fff;
    padding: 0 10px;
}

.param-flat__mid{
    display: flex;
    align-content: center;
    margin-bottom: 40px;
}
.param-flat__mid__left{
    display: flex;
    align-items: center;
    margin-right: 41px;
}

.param-flat__checkboxes{
    display: flex;
    margin-left: 22px;
    .param-flat__checkbox{
        cursor: pointer;
        margin-left: 18px;
        input{
            display: none;
        }
        input + span{
            height: 34px;
            width: 34px;
            border-radius: 100%;
            border: 1px solid #000000;
            min-width: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            font-size: 14px;
        }
        input + span:hover{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
        }
        input:checked + span{
            background-color: #568F27;
            border: 1px solid #568F27;
            color: #fff;
        }
    }
}

.param-flat__mid__right{
    display: flex;
    button{
        margin-right: 29px;
        padding-bottom: 7px;
        background-image: url("../img/plan/line.png");
        background-repeat: repeat-x;
        background-position: bottom;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
    }
    button:hover{
        opacity: 0.9;
    }
}

.param-flat__bot{
    display: flex;
    align-items: center;
    margin-bottom: 30px;   
}

.param-flat__bot__col{
    margin-bottom: 40px;
    label{
        line-height: 1;
    }
}
.param-flat__bot__col--1{
    width: 40%;
    display: flex;
    align-items: flex-end;
    .custom-select{
        margin-left: 40px;
    }
}
.param-flat__bot__col--2{
    width: 30%;
    display: flex;
    align-items: flex-end;
    input{
        margin-left: 15px;
        border: 0;
        border-bottom: 1px solid #000;
        width: 125px;
    }
}
.param-flat__bot__col--3{
    width: 30%;
    display: flex;
    align-items: flex-end;
    .custom-select{
        margin-left: 15px;
    }
}

.custom-select{
    margin-right: 45px;
}
.select-selected{
    background-color: transparent;
    border-bottom: 1px solid #000;
    padding: 0;
    height: 26px;
}

.select-selected:after{
    border: 0;
    width: 27px;
    height: 15px;
    background-image: url('../img/plan/select-after.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right top;
    top: auto;
    bottom: 0;
    right: 0;
    padding-left: 12px;
    transform: translateX(100%);
}

.select-selected.select-arrow-active:after{
    top: auto;
}

.select-items{
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    z-index: 2;
}
.select-items div, .select-selected{
    color: #000;
}

.param-flat__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -22px;
}
.param-flat__item{
    width: calc(100% / 3 - 44px);
    margin: 0 22px;
    margin-bottom: 44px;
    color: #000000;
    transition: 0.3s all;
}
.param-flat__item:hover .param-flat__item__img{
    transform: scale(1.05);
}   
.param-flat__item__img{
    padding-bottom: 73%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 34px;
    transition: 0.3s all;
}
.param-flat__item__text1{
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 10px;
    span{
        font-size: 14px;
        display: inline-block;
    }
}

.param-flat__item__text2{
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 10px;
}

@media(max-width: 1280px){
    .param-flat__top__col--1{
        width: 35%;
    }
    .param-flat__bot__col--1{
        width: 35%;
    }
    .param-flat__top__col--3{
        width: 40%;
    }
}

@media(max-width: 1200px){
    .param-flat__top__col{
        width: 50%;
        margin-bottom: 55px;
    }
    .param-flat__type{
        justify-content: flex-start;
        a{
            margin-right: 15px;
        }
    }
    .param-flat__top{
        margin-bottom: 0;
    }
    .param-flat__bot__col{
        width: auto;
        flex: 1;
    }
    .param-flat__top__col.param-flat__top__col--3{
        width: 100%;
    }
}


@media(max-width: 991px){
    .param-flat__item{
        width: calc(100% / 2 - 44px);
    }
    .param-flat__bot__col{
        flex: auto;
        width: 50%;
    }
    .param-flat__bot{
        flex-wrap: wrap;
    }
}

@media(max-width: 767px){
    .param-flat{
        padding-top: 100px;
    }
    .param-flat__top__col{
        width: 100%;
        margin-right: 0;
    }
    .param-flat__top__col.param-flat__top__col--3{
        .param-flat__top__content{
            padding-left: 0;
        }
    }
    .param-flat__mid__left{
        flex-direction: column;
        align-items: flex-start;
    }
    .param-flat__checkboxes{
        margin-left: 0;
        margin-top: 15px;
    }
    .param-flat__checkboxes .param-flat__checkbox{
        margin-left: 0;
        margin-right: 15px;
    }
    .param-flat__bot__col{
        width: 100%;
    }
    .param-flat__bot{
        margin-bottom: 50px;
    }
    .param-flat__top__content{
        padding-left: 40px;
        padding-right: 20px;
    }
    .input-range__point span{
        font-size: 12px;
    }
    .param-flat__label{
        font-size: 16px;
    }
}

@media(max-width: 575px){
    .param-flat__item{
        width: calc(100% / 1 - 44px);
    }
}
.slider{
    height: 1px;
    background-color: #000;
    border: 0;
}
.slider .handle{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #568F27;
    border: 1px solid #568F27;
}
.slider .handle:active{
    box-shadow: 0 0 0.5rem #568F27;
    border-color: #568F27;
}
.slider .slider-circle{
    display: none;
}
.slider .slider-fill{
    background: #568F27;;
}
.slider .handle{
    z-index: 6;
}
.slider .handle.ontop{
    z-index: 6;
}

.slider .handle span {
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 130%;
    white-space: nowrap;
    background-color: #fff;
    padding: 0 10px;
}