@charset "UTF-8";
:root {
  --color-black: #000;
  --color-white: #fff;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.eot");
  src: local("Graphik LCG Medium Italic"), local("../fonts/GraphikLCG/GraphikLCG-MediumItalic"), url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.eot");
  src: local("Graphik LCG Super Italic"), local("../fonts/GraphikLCG/GraphikLCG-SuperItalic"), url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.eot");
  src: local("Graphik LCG Semibold Italic"), local("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic"), url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Black.eot");
  src: local("Graphik LCG Black"), local("../fonts/GraphikLCG/GraphikLCG-Black"), url("../fonts/GraphikLCG/GraphikLCG-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Black.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Black.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Super.eot");
  src: local("Graphik LCG Super"), local("../fonts/GraphikLCG/GraphikLCG-Super"), url("../fonts/GraphikLCG/GraphikLCG-Super.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Super.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Super.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Super.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Thin.eot");
  src: local("Graphik LCG Thin"), local("../fonts/GraphikLCG/GraphikLCG-Thin"), url("../fonts/GraphikLCG/GraphikLCG-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Thin.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Thin.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.eot");
  src: local("Graphik LCG Extralight Italic"), local("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic"), url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Regular.eot");
  src: local("Graphik LCG Regular"), local("../fonts/GraphikLCG/GraphikLCG-Regular"), url("../fonts/GraphikLCG/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.eot");
  src: local("Graphik LCG Bold Italic"), local("../fonts/GraphikLCG/GraphikLCG-BoldItalic"), url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-LightItalic.eot");
  src: local("Graphik LCG Light Italic"), local("../fonts/GraphikLCG/GraphikLCG-LightItalic"), url("../fonts/GraphikLCG/GraphikLCG-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-LightItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-LightItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.eot");
  src: local("Graphik LCG Black Italic"), local("../fonts/GraphikLCG/GraphikLCG-BlackItalic"), url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Medium.eot");
  src: local("Graphik LCG Medium"), local("../fonts/GraphikLCG/GraphikLCG-Medium"), url("../fonts/GraphikLCG/GraphikLCG-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Light.eot");
  src: local("Graphik LCG Light"), local("../fonts/GraphikLCG/GraphikLCG-Light"), url("../fonts/GraphikLCG/GraphikLCG-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Light.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Light.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Semibold.eot");
  src: local("Graphik LCG Semibold"), local("../fonts/GraphikLCG/GraphikLCG-Semibold"), url("../fonts/GraphikLCG/GraphikLCG-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Bold.eot");
  src: local("Graphik LCG Bold"), local("../fonts/GraphikLCG/GraphikLCG-Bold"), url("../fonts/GraphikLCG/GraphikLCG-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Bold.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Extralight.eot");
  src: local("Graphik LCG Extralight"), local("../fonts/GraphikLCG/GraphikLCG-Extralight"), url("../fonts/GraphikLCG/GraphikLCG-Extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Extralight.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Extralight.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.eot");
  src: local("Graphik LCG Thin Italic"), local("../fonts/GraphikLCG/GraphikLCG-ThinItalic"), url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.eot");
  src: local("Graphik LCG Regular Italic"), local("../fonts/GraphikLCG/GraphikLCG-RegularItalic"), url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  font-family: "Graphik LCG";
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}
.wrap {
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}

.sec {
  background-size: cover;
  background-position: center;
}

.icon {
  width: auto;
  height: auto;
}

.app {
  max-width: 2400px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: 0.3s all;
}

.header.scroll {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  max-width: 235px;
}

.logo {
  margin-right: 40px;
}
.logo img {
  display: block;
  max-width: 249px;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrap__left {
  display: flex;
  align-items: center;
}

.header__wrap__right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header__phone {
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #FFFFFF;
}

.header__flat {
  margin-left: 40px;
  padding: 11px 24px;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  transition: 0.1s all;
  cursor: pointer;
  color: #FFFFFF;
  position: relative;
  background-color: transparent;
}

.header__flat:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__flat .header__flat__arr {
  margin-left: 16px;
  margin-right: 0;
}

.header__flat__arr {
  width: 31px;
  min-width: 31px;
  height: 31px;
  background: #568F27;
  border-radius: 100%;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__flat__arr svg {
  width: 13px;
  height: 8px;
}

.burger {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.burger svg {
  width: 31px;
  height: 31px;
}
.burger .close {
  display: none;
}

.header-menu.active .burger svg {
  display: none;
}
.header-menu.active .burger .close {
  display: block;
}

.header-menu {
  position: relative;
}

.header__nav {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  right: 0;
  padding: 39px 62px;
  background: rgba(255, 255, 255, 0.91);
  min-width: 377px;
}

.header__nav ul {
  margin: 0;
  padding: 0;
}

.header__nav li {
  margin-bottom: 25px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header__nav li:last-child {
  margin-bottom: 0;
}

.header__nav a {
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  padding: 5px 0;
  color: #000000;
  opacity: 0.5;
  transition: 0.3s all;
}

.header__nav li:hover a, .header__nav li.active a {
  opacity: 1;
}

.header__phone__icon {
  display: none;
}

@media (max-width: 1260px) {
  .header__flat {
    margin-left: 20px;
  }

  .burger {
    margin-left: 20px;
  }

  .logo {
    margin-right: 20px;
  }

  .header__text {
    font-size: 16px;
  }

  .header__phone {
    font-size: 16px;
  }

  .header__flat {
    font-size: 18px;
  }

  .header__nav a {
    font-size: 24px;
  }

  .header__nav li {
    margin-bottom: 15px;
  }
}
.header__flat__list {
  display: none;
  position: absolute;
  top: 100%;
  margin: 0;
  margin-top: 15px;
  right: 0;
  padding: 39px 62px;
  background: rgba(255, 255, 255, 0.91);
  min-width: 300px;
}

.header__flat__list li {
  margin-bottom: 25px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header__flat__list li:last-child {
  margin-bottom: 0;
}

.header__flat__list li a {
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  padding: 5px 0;
  color: #000000;
  opacity: 1;
  transition: 0.3s all;
}

@media (max-width: 1100px) {
  .header__text {
    display: none;
  }
}
@media (max-width: 991px) {
  .header {
    height: 78px;
  }

  .logo img {
    max-width: 200px;
  }

  .header__phone__icon {
    display: block;
    margin-right: 23px;
  }

  .header__phone__icon svg {
    width: 32px;
    display: block;
    height: 32px;
  }

  .header__nav {
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #232222;
    margin-top: 77px;
    padding-top: 30px;
    overflow: auto;
    padding-right: 30px;
    padding-left: 30px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header.burger-open {
    background-color: #232222;
  }

  .header__flat {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .header__phone {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .header__flat {
    max-width: 171px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    padding: 5px 11px;
  }

  .header__flat__list {
    right: auto;
    left: 0;
    z-index: 2;
    min-width: 200px;
  }

  .header__flat .header__flat__arr {
    margin-left: 5px;
  }

  .header__flat__arr {
    width: 22px;
    height: 22px;
    min-width: 22px;
  }

  .header__nav a {
    color: #fff;
  }

  .header__nav ul.header__flat__list {
    padding: 25px;
    background-color: #fff;
  }

  .header__nav a {
    font-size: 16px;
    line-height: 1.3;
    /* or 38px */
    color: #FFFFFF;
  }

  .header__flat__list li a {
    font-size: 16px;
    line-height: 1.3;
  }

  .header__flat__list li {
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .logo img {
    max-width: 125px;
  }

  .burger {
    margin-left: 0;
  }

  .wrap {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    height: 70px;
  }

  .header__nav {
    margin-top: 69px;
  }
}
.sec1 {
  position: relative;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  align-items: center;
}

.sec1__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  background-image: url("../img/index/shadow.png");
  background-size: 100% 100%;
  background-position: center;
}

.sec1__wrap {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  padding-top: 155px;
  padding-bottom: 55px;
}

.sec1__left {
  flex: 1;
  padding-left: 272px;
  padding-bottom: 180px;
}

.sec1__right {
  flex: 0 0 505px;
  width: 505px;
}

.sec1__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.sec1__text {
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 66px;
}

.btn-play {
  display: inline-flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 17px;
  line-height: 110%;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-play__icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 100%;
  margin-bottom: 23px;
  transition: 0.3s all;
  position: relative;
  box-shadow: 0 0 0 0 white;
  transform: scale(1);
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
.btn-play__icon svg {
  width: 21px;
  height: 21px;
  margin-left: 5px;
  transition: 0.3s all;
}

.btn-play__icon:before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  position: absolute;
  transition: 0.3s all;
  opacity: 0;
}

.btn-play:hover .btn-play__icon {
  -webkit-animation: none;
  animation: none;
}
.btn-play:hover .btn-play__icon:before {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  opacity: 1;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.sec1__row {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.sec1__row span {
  width: 31px;
  min-width: 31px;
  height: 31px;
  background: #568F27;
  border-radius: 100%;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec1__row span svg {
  width: 13px;
  height: 8px;
}

@media (max-height: 850px) {
  .sec1__title {
    font-size: 50px;
  }

  .sec1__text {
    font-size: 24px;
    margin-bottom: 45px;
  }

  .sec1__right {
    flex: 0 0 495px;
    width: 495px;
  }

  .sec1__row {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .sec1__left {
    padding-bottom: 85px;
  }
}
@media (max-height: 700px) {
  .sec1 {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .sec1 {
    height: auto;
  }

  .sec1__left {
    padding-left: 0;
    justify-content: center;
    display: flex;
  }

  .sec1__right {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .sec1__left {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  .sec1__wrap {
    padding-top: 0;
    margin-top: 106px;
  }

  .sec1__right {
    flex: 1;
    width: 100%;
  }

  .sec1__title {
    max-width: 187px;
  }

  .btn-play__icon {
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .sec1__title {
    font-size: 30px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 12px;
  }

  .sec1__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 44px;
    max-width: 223px;
  }

  .sec1__row {
    margin-bottom: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }

  .sec1__list {
    max-width: 320px;
  }

  .btn-play__icon {
    width: 34px;
    height: 34px;
    margin-bottom: 7px;
  }
  .btn-play__icon svg {
    width: 10px;
    margin-left: 3px;
  }

  .btn-play {
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .sec1__left {
    top: 10px;
  }
}
.sec-center {
  display: flex;
  align-items: center;
  padding-top: 220px;
  padding-bottom: 220px;
}

@media (max-width: 1800px) {
  .sec-center {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.sec-shadow {
  position: relative;
}

.sec-shadow:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: "";
  background-image: url("../img/index/shadow.png");
  background-size: cover;
  z-index: 1;
}

.sec-shadow .wrap {
  position: relative;
  z-index: 2;
}

.title {
  font-weight: bold;
  font-size: 46px;
  line-height: 110%;
  margin-bottom: 50px;
}

.sub-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 110%;
  margin-bottom: 25px;
}

.title.white, .sub-title.white {
  color: #fff;
}

.sec2 {
  color: #fff;
}

.sec2__wrap {
  display: flex;
  margin-bottom: 137px;
}

.sec2__left {
  padding-right: 15px;
}

.sec2__left, .sec2__right {
  width: 50%;
}

.sec2__right {
  font-size: 18px;
  line-height: 140%;
}

.sec2__wrap2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.sec2__wrap2__item {
  margin-right: 108px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.sec2__wrap2__item .left {
  max-width: 125px;
}
.sec2__wrap2__item .right {
  max-width: 125px;
}
.sec2__wrap2__item .mid {
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 10px;
  width: 45px;
  border-bottom: 1px dashed #fff;
}

.btn {
  font-weight: 500;
  display: inline-block;
  font-size: inherit;
  line-height: 130%;
  text-align: center;
  padding: 12px 41px 14px;
  color: #FFFFFF;
  background: #568F27;
  border-radius: 60px;
  transition: 0.3s all;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(86, 143, 39, 0.5);
}

.sec2 {
  background-position: bottom center;
}

.sec2 .sub-title {
  max-width: 477px;
}

.sec2__slider {
  padding-top: 77px;
}
.sec2__slider .swiper-pagination {
  top: 0;
  left: 0;
  bottom: auto;
  text-align: left;
}
.sec2__slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  background-color: transparent;
}
.sec2__slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .sec2__wrap {
    margin-bottom: 50px;
  }

  .sec2__wrap2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .sec2__wrap {
    flex-direction: column;
  }

  .sec2__left, .sec2__right {
    width: 100%;
  }

  .title {
    margin-bottom: 30px;
    font-size: 36px;
  }

  .sub-title {
    font-size: 24px;
  }

  .sec-center {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 26px;
  }

  .sub-title {
    font-size: 18px;
  }

  .sec2__right {
    font-size: 16px;
  }

  .sec2__slider {
    padding-top: 45px;
  }

  .sec2__wrap2__item {
    max-width: 100%;
  }
}
/*sec 3*/
.sec3 {
  padding: 209px 0 226px;
  background-size: auto 661px;
  background-position: 95% center;
  background-repeat: no-repeat;
  background-color: #434648;
}
.sec3::before {
  display: none;
}

.sec3__title {
  max-width: 623px;
  margin-bottom: 75px;
}

.sec3__wrap3 {
  margin: 42px 0 0;
}
.sec3__wrap3:last-child {
  margin-top: 49px;
}

.sec3__wrap3__item {
  margin-bottom: 0;
}
.sec3__wrap3__item .left {
  color: #568F27;
}
.sec3__wrap3__item .right {
  color: #fff;
}

.sec3__left {
  color: #fff !important;
  display: flex;
  align-items: flex-start;
}

.sec3__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  margin-right: 14px;
  border-radius: 50%;
  background-color: #fff;
}

.sec3__icon__item {
  font-size: 18px;
  color: #000;
}

.mode {
  margin-top: 171px;
  color: #fff;
}

.mode__title {
  display: inline-block;
}

.mode__box {
  margin-top: 27px;
}

.mode__btn {
  padding: 13px 31px;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 60px;
  cursor: pointer;
  transition: all linear 0.3s;
}
.mode__btn + .mode__btn {
  margin-left: 41px;
}
.mode__btn:hover {
  color: #434648;
  background-color: #fff;
}

@media (max-width: 1800px) {
  .sec3 {
    padding: 100px 0;
  }
}
@media (max-width: 1366px) {
  .sec3 {
    background-position: left top;
  }
  .sec3::before {
    display: block;
  }
}
@media (max-width: 767px) {
  .sec3 {
    padding: 51px 0 61px;
  }

  .sec3__title {
    margin-bottom: 16px;
  }

  .sec3__wrap3 {
    margin: 13px 0 0;
  }
  .sec3__wrap3:last-child {
    margin-top: 13px;
  }

  .mode {
    margin-top: 252px;
  }

  .mode__box {
    margin-top: 22px;
  }

  .mode__btn + .mode__btn {
    margin-left: 10px;
  }

  .sec3 {
    background-size: 800px auto;
    background-position: left -50px center;
  }
}
@media (max-width: 575px) {
  .sec3__wrap3__item {
    width: 100%;
    margin-right: 0;
    font-size: 16px;
  }
  .sec3__wrap3__item .left {
    color: #fff;
    min-width: 106px;
  }
  .sec3__wrap3__item .mid {
    width: 100%;
  }
  .sec3__wrap3__item .right {
    white-space: nowrap;
  }

  .sec3__left {
    min-width: unset !important;
    white-space: nowrap;
  }

  .sec3__icon {
    display: none;
  }

  .mode__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .mode__btn {
    display: inline-block;
    padding: 13px 2px;
    width: 50%;
    font-weight: 600;
    font-size: 16px;
    border-radius: 60px;
  }
}
@media (max-width: 450px) {
  .sec3.sec-shadow:before {
    background-size: cover;
    background-image: url("../img/index/shadow-sec3.png");
  }
}
/*sec 3*/
/*sec 4*/
.partition {
  padding: 210px 0 224px;
}

.partition__title {
  margin-bottom: 40px;
}

.partition__top {
  display: flex;
  align-items: center;
}

.partition__subtitle {
  position: relative;
  display: inline-block;
  max-width: 310px;
  padding-left: 32px;
  font-size: 26px;
  line-height: 130%;
  font-weight: 600;
  color: #000;
}
.partition__subtitle::before {
  content: "— ";
  position: absolute;
  top: 0;
  left: 3px;
}

.btn2 {
  padding: 7px 30px;
}

.partition__slider {
  margin-top: 85px;
}

.partition__slide {
  display: flex;
  flex-direction: column;
}

.partition__img {
  margin-bottom: 30px;
}

.partition__item-title {
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 26px;
  line-height: 110%;
}

.partition__description {
  min-height: 52px;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
}

.partition__link {
  display: inline-block;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #000;
}

.partition__link .icon-arrow-down {
  transform: rotate(-90deg);
  margin-right: 22px;
}

.icon-arrow-down {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #568F27;
}
.icon-arrow-down .icon {
  width: 13px;
  height: 8px;
}

.text__deg {
  display: inline-block;
  position: relative;
  min-width: 40px;
}
.text__deg::before {
  content: "0";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 7px;
  line-height: 7px;
}

.partition__pagination {
  display: none !important;
}

@media (max-width: 1800px) {
  .partition {
    padding: 100px 0;
  }
}
@media (max-width: 911px) {
  .partition__pagination {
    display: flex !important;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .partition {
    padding: 51px 0 57px;
  }

  .partition__title {
    margin-bottom: 16px;
  }

  .partition__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .partition__subtitle {
    font-size: 18px;
    line-height: 130%;
  }

  .partition-btn {
    margin-top: 33px;
  }

  .btn2 {
    padding: 12px 60px 15px;
  }

  .partition__img {
    margin-bottom: 23px;
  }

  .partition__pagination {
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .partition-btn {
    width: 100%;
    padding: 12px 10px 15px;
  }

  .partition__item-title {
    font-size: 18px;
  }

  .partition__description {
    min-height: 45px;
    font-size: 16px;
  }

  .partition__link {
    font-size: 16px;
  }
}
.custom-pagination {
  display: flex;
  justify-content: center;
}

.custom-pagination-bullet {
  display: flex;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
.custom-pagination-bullet + .custom-pagination-bullet {
  margin-left: 20px;
}

.custom-pagination-bullet-active {
  background-color: #000 !important;
}

/*sec 4*/
/*half*/
.half__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.half__wrap {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin: 140px 0 0 auto;
  padding: 98px 98px 215px;
  background-color: rgba(255, 255, 255, 0.75);
}

.half__title {
  max-width: 570px;
  margin: 50px 0 0;
}

.half__box {
  display: flex;
  margin: 23px 0 0;
}

.half__number {
  font-weight: 700;
  font-size: 150px;
  line-height: 110%;
  margin-right: 70px;
}

.half__subtitle {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 110%;
  margin-top: 10px;
}

.half__paragraph {
  margin: 25px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
}

.half__bold {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}

.half__text {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
}

.half__link {
  margin-top: 24px;
}

.arrow-link {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
}
.arrow-link .icon-arrow-down {
  margin-right: 22px;
  transform: rotate(-90deg);
}

.sec5-pagination .custom-pagination-bullet {
  background-color: transparent;
}

.half .custom-pagination {
  justify-content: flex-start;
}

@media (max-width: 1800px) {
  .half__wrap {
    padding: 50px 20px 60px !important;
  }
}
@media (max-width: 911px) {
  .half__wrap {
    width: 78%;
  }

  .half__title {
    margin-top: 18px;
  }

  .half__box {
    margin: 43px 0 167px;
  }

  .half__number {
    font-size: 52px;
    margin-right: 45px;
  }

  .half__subtitle {
    margin-top: 0;
    font-size: 18px;
  }

  .half__text {
    font-size: 16px;
  }

  .arrow-link {
    margin-top: 12px;
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .half__wrap {
    margin: 60px 20px 0 0;
  }
}
/*half*/
/*sec7*/
.sec7__wrap {
  padding: 80px 80px 116px;
  position: relative;
  z-index: 3;
}

.sec7__btn {
  margin: 27px 0 0;
}

.half__aside__btn {
  margin-bottom: 116px;
}

.sec7__slide {
  display: flex;
}
.sec7__slide::before {
  z-index: 2;
  background-image: url(../img/index/shadow.png);
}

.half__aside {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
}

.sec7__btn {
  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1800px) {
  .half__aside__btn {
    margin-bottom: 60px;
  }
}
@media (max-width: 991px) {
  .sec7__slide {
    flex-direction: column;
    align-items: center;
  }

  .half__aside {
    order: 2;
    width: 100%;
  }

  .sec7__wrap {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 20px 42px !important;
  }

  .sec7__box {
    margin-bottom: 0;
  }

  .half__aside__btn {
    margin: 25px 0 60px;
  }
}
@media (max-width: 700px) {
  .sec7__btn {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec7__wrap {
    margin: 60px 0 0;
  }

  .half__subtitle {
    font-size: 18px;
  }

  .half__bold {
    font-size: 16px;
  }
}
/*sec7*/
/*sec8*/
.sec8 {
  position: relative;
  padding: 278px 0 178px;
}
.sec8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 77, 0.9);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.sec8__form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 621px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 16px;
}

.sec8__item {
  width: 100%;
  padding: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  background-color: transparent;
  border: none;
}
.sec8__item::-moz-placeholder {
  color: #B3B3B3;
}
.sec8__item:-ms-input-placeholder {
  color: #B3B3B3;
}
.sec8__item::placeholder {
  color: #B3B3B3;
}

.sec8__input {
  border-bottom: 1px solid #568F27;
}

.sec8__messages {
  resize: none;
  height: 204px;
  margin-top: 80px;
  border: 1px solid #568F27;
  border-radius: 7px;
}

.sec8__btn {
  margin-top: 73px;
}

@media (max-width: 1800px) {
  .sec8 {
    padding: 100px 0;
  }
}
@media (max-width: 991px) {
  .sec8__item {
    margin-top: 16px;
    padding: 13px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .sec8__btn {
    margin-top: 24px;
  }
}
@media (max-width: 575px) {
  .sec8 {
    padding: 60px 0;
    background-position: center bottom;
  }
  .sec8::before {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
  }

  .sec8__form {
    background-color: #E5E5E5;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  }

  .sec8__item {
    color: #000;
    border: none;
    background-color: #fff;
    border-radius: 7px;
  }

  .sec8__btn {
    margin-top: 24px;
  }
}
/*sec8*/
/*sec9*/
.sec9 {
  padding: 211px 0 235px;
}

.sec9__title {
  color: #fff;
}

.sec9__box {
  position: absolute;
}

.sec9__white {
  top: 210px;
  left: 40%;
}
.sec9__white .sec9__btn {
  color: #000;
  background-color: #fff;
}

.sec9__steel {
  top: 315px;
  left: 23%;
}
.sec9__steel .sec9__btn {
  color: #fff;
  background-color: #4D4D4D;
}

.sec9__subtitle {
  color: #fff;
  margin: 19px 0 0 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}

.sec9__description {
  align-items: center;
  color: #fff;
  margin: 19px 0 0 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}
.sec9__description .left {
  display: flex;
  align-items: center;
}
.sec9__description .mid {
  margin-top: 0;
}
.sec9__description .sec3__icon {
  background-color: #568F27;
}
.sec9__description .sec3__icon .sec3__icon__item {
  color: #fff;
}

.sec9__mode {
  margin-top: 487px;
}
.sec9__mode .mode__btn {
  padding: 11px 31px 13px;
}

.sec9__green {
  background-color: #568F27;
  border: 1px solid #568F27;
}
.sec9__green:hover {
  color: #568F27;
  background-color: #fff;
  border: 1px solid #fff;
}

.sec9__black {
  background-color: #000;
  border: 1px solid #000;
}
.sec9__black:hover {
  color: #fff;
  background-color: #568F27;
  border: 1px solid #568F27;
}

@media (max-width: 1800px) {
  .sec9 {
    padding: 100px 0;
  }
}
@media (max-width: 991px) {
  .sec9 {
    padding: 54px 0 60px;
    background-position: center bottom;
  }

  .sec9__white {
    top: 184px;
    left: 33%;
  }

  .sec9__steel {
    top: 257px;
    left: 17%;
  }

  .sec9__mode {
    margin-top: 381px;
  }
}
@media (max-width: 575px) {
  .sec9 {
    background-position: 35% center;
  }

  .sec9__btn {
    font-size: 16px;
    padding: 11px 21px;
  }

  .sec9__subtitle {
    margin-left: 0;
    font-size: 16px;
  }

  .sec9__description {
    margin-left: 0;
    margin-top: 11px;
    font-size: 16px;
  }

  .sec9__white {
    left: 47%;
  }

  .sec9__mode {
    font-size: 16px;
  }
}
/*sec9*/
.footer {
  padding: 220px 0;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .btn {
  width: 100%;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__row + .footer__row {
  margin-top: 94px;
}

.footer__text__small {
  display: inline-block;
  width: 100%;
  margin: 21px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  color: #000;
}

.footer__text__big {
  display: inline-block;
  min-height: 52px;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #000;
}

.footer__box__7 {
  max-width: 650px;
}

.footer__box__6 {
  width: 50%;
  padding: 0 10px;
}

.footer__box__3 {
  width: 25%;
  padding: 0 10px;
}

.footer__drop__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__drop__arrow {
  display: none;
  transition: all linear 0.3s;
}
.footer__drop__arrow svg {
  height: 10px;
  width: 20px;
  color: #000;
  fill: #000;
  stroke: #000;
}

.footer__drop.active .footer__drop__arrow {
  transform: rotate(180deg);
}

@media (max-width: 1800px) {
  .footer {
    padding: 100px 0;
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 55px 0;
  }

  .footer__row {
    flex-wrap: wrap;
  }
  .footer__row + .footer__row {
    margin-top: 40px;
  }

  .footer__box__3 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer__text__small {
    font-size: 16px;
    margin: 16px 0;
  }

  .footer__text__big {
    min-height: unset;
    font-size: 18px;
    padding: 12px 0 0;
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .footer__drop__arrow {
    display: inline-block;
  }

  .footer__drop {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .footer__drop__box {
    display: none;
    margin-bottom: 20px;
  }

  .footer__row {
    flex-direction: column;
  }

  .footer__box__7 {
    max-width: unset;
  }

  .footer__box__6 {
    width: 100%;
    padding: 0;
  }

  .footer__box__3 {
    width: 100%;
    padding: 0;
  }
}
.about--sec1 {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.about--sec1 .sec1__wrap {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0;
}
.about--sec1 .sec1__right {
  background: rgba(255, 255, 255, 0.75);
  padding-top: 108px;
  padding-left: 103px;
  position: relative;
  padding-bottom: 196px;
  flex: 0 0 530px;
  width: 530px;
}
.about--sec1 .sec1__right:after {
  content: "";
  width: 100vw;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.75);
  left: 100%;
  top: 0;
  position: absolute;
}
.about--sec1 .sec1__row {
  color: #000;
}

@media (max-height: 800px) {
  .about--sec1 .sec1__right {
    padding-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .about--sec1 .sec1__right {
    flex: 0 0 320px;
    width: 320px;
    margin-left: -30px;
    padding-left: 20px;
    padding-top: 51px;
    padding-bottom: 51px;
    padding-right: 20px;
  }
  .about--sec1 .sec1__right:after {
    display: none;
  }
  .about--sec1 .sec1__wrap {
    justify-content: flex-start;
  }
  .about--sec1 .sec1__row {
    font-size: 16px;
  }
}
@media (max-width: 374px) {
  .about--sec1 .sec1__right {
    flex: 0 0 300px;
    width: 300px;
  }
}
.about--sec3 {
  background-color: #fff;
  background-size: 60% auto;
}

.about--sec3__text {
  max-width: 477px;
  margin-top: 138px;
  margin-bottom: 119px;
}
.about--sec3__text p {
  color: #000000;
}

@media (max-width: 1366px) {
  .about--sec3 {
    background-position: 100% center;
  }

  .about--sec3__text {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .about--sec3__text {
    margin-top: 69px;
    margin-bottom: 85px;
    max-width: 370px;
  }
}
@media (max-width: 767px) {
  .about--sec3 {
    padding-bottom: 90vw;
    background-position: center bottom;
    background-size: 140%;
  }
  .about--sec3 .btn {
    margin: 0 auto;
    font-weight: 500;
    line-height: 130%;
    display: block;
    width: 282px;
    padding-right: 0;
    padding-left: 0;
  }
}
.about-sec {
  padding-top: 275px;
  padding-bottom: 275px;
  color: #fff;
  min-height: 100vh;
}

@media (max-height: 700px) and (max-width: 1200px) {
  .about-sec {
    min-height: initial;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1200px) {
  .about-sec {
    min-height: initial;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-height: 1400px) {
  .about-sec {
    min-height: initial;
  }
}
.about--sec1 {
  background-attachment: fixed;
}

.about-sec {
  background-attachment: fixed;
  background-position: bottom center;
  overflow: hidden;
}

.about-right-block {
  max-width: 580px;
  text-align: right;
  margin-left: auto;
}
.about-right-block .title {
  margin-bottom: 136px;
}
.about-right-block .btn {
  margin-top: 136px;
}

@media (max-width: 1199px) {
  .about-right-block .title {
    margin-bottom: 50px;
  }
  .about-right-block .btn {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .about-sec {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .about-right-block .btn {
    display: block;
    width: 100%;
    max-width: 280px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.about-arh {
  background-position: right;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 250px;
  position: relative;
  min-height: 100vh;
}
.about-arh .wrap {
  position: relative;
  z-index: 2;
}
.about-arh .about-arh__wrap2 {
  margin-top: 119px;
}
.about-arh .sec2__wrap2__item .left {
  min-width: 239px;
}
.about-arh .sec2__wrap2__item .mid {
  border-bottom: 1px dashed #000;
  margin-right: 39px;
}

@media (max-height: 700px) and (max-width: 1200px) {
  .about-arh {
    min-height: initial;
  }
}
@media (max-width: 1200px) {
  .about-arh {
    min-height: initial;
  }
}
@media (min-height: 1400px) {
  .about-arh {
    min-height: initial;
  }
}
.about-arh:after {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  background: linear-gradient(90deg, #FFFFFF 76.63%, rgba(255, 255, 255, 0) 103.04%);
  position: absolute;
}

.about-arh__wrap {
  max-width: 580px;
}

@media (max-height: 800px) {
  .about-arh {
    padding-top: 200px;
    padding-bottom: 150px;
  }
}
@media (max-width: 1200px) {
  .about-arh {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media (max-width: 991px) {
  .about-arh:after {
    width: 90%;
  }

  .about-arh__wrap {
    max-width: 525px;
  }
}
@media (max-width: 767px) {
  .about-arh:after {
    width: 100%;
    background: #fff;
  }

  .about-arh .sec2__wrap2__item {
    width: 100%;
  }
  .about-arh .sec2__wrap2__item .mid {
    flex: 1;
    margin-right: 15px;
  }

  .about-arh .sec2__wrap2__item .left {
    min-width: 165px;
  }

  .about-arh {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-arh .about-arh__wrap2 {
    margin-top: 50px;
  }
}
.about-justify-block {
  display: flex;
  justify-content: space-between;
}
.about-justify-block .left {
  max-width: 564px;
  padding-right: 15px;
}
.about-justify-block .left .title {
  margin-top: 0;
}
.about-justify-block .right {
  max-width: 420px;
  margin-right: 50px;
}
.about-justify-block .right ul {
  margin: 0;
  padding: 0;
}
.about-justify-block .right ul li {
  list-style: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.about-justify-block .icon {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 5px;
  left: 0;
}

@media (max-width: 1199px) {
  .about-justify-block .right {
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .about-justify-block .left {
    max-width: 440px;
  }
}
@media (max-width: 767px) {
  .about-justify-block {
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;
  }
  .about-justify-block .btn {
    position: absolute;
    left: 0px;
    bottom: 0;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 283px;
    width: 100%;
  }
  .about-justify-block .right {
    width: 100%;
    max-width: 100%;
  }
  .about-justify-block .right ul {
    max-width: 269px;
  }
}
.about-dis {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
}
.about-dis .about-justify-block {
  padding-top: 207px;
  padding-bottom: 111px;
}

.about-dis-img {
  display: block;
  width: 100%;
}

@media (max-width: 991px) {
  .about-dis .about-justify-block {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .about-dis .about-justify-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about-dis-img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */
