:root {
  --color-black: #000;
  --color-white: #fff;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.eot");
  src: local("Graphik LCG Medium Italic"), local("../fonts/GraphikLCG/GraphikLCG-MediumItalic"), url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.eot");
  src: local("Graphik LCG Super Italic"), local("../fonts/GraphikLCG/GraphikLCG-SuperItalic"), url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-SuperItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.eot");
  src: local("Graphik LCG Semibold Italic"), local("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic"), url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Black.eot");
  src: local("Graphik LCG Black"), local("../fonts/GraphikLCG/GraphikLCG-Black"), url("../fonts/GraphikLCG/GraphikLCG-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Black.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Black.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Super.eot");
  src: local("Graphik LCG Super"), local("../fonts/GraphikLCG/GraphikLCG-Super"), url("../fonts/GraphikLCG/GraphikLCG-Super.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Super.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Super.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Super.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Thin.eot");
  src: local("Graphik LCG Thin"), local("../fonts/GraphikLCG/GraphikLCG-Thin"), url("../fonts/GraphikLCG/GraphikLCG-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Thin.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Thin.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.eot");
  src: local("Graphik LCG Extralight Italic"), local("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic"), url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Regular.eot");
  src: local("Graphik LCG Regular"), local("../fonts/GraphikLCG/GraphikLCG-Regular"), url("../fonts/GraphikLCG/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.eot");
  src: local("Graphik LCG Bold Italic"), local("../fonts/GraphikLCG/GraphikLCG-BoldItalic"), url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-LightItalic.eot");
  src: local("Graphik LCG Light Italic"), local("../fonts/GraphikLCG/GraphikLCG-LightItalic"), url("../fonts/GraphikLCG/GraphikLCG-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-LightItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-LightItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.eot");
  src: local("Graphik LCG Black Italic"), local("../fonts/GraphikLCG/GraphikLCG-BlackItalic"), url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Medium.eot");
  src: local("Graphik LCG Medium"), local("../fonts/GraphikLCG/GraphikLCG-Medium"), url("../fonts/GraphikLCG/GraphikLCG-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Light.eot");
  src: local("Graphik LCG Light"), local("../fonts/GraphikLCG/GraphikLCG-Light"), url("../fonts/GraphikLCG/GraphikLCG-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Light.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Light.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Semibold.eot");
  src: local("Graphik LCG Semibold"), local("../fonts/GraphikLCG/GraphikLCG-Semibold"), url("../fonts/GraphikLCG/GraphikLCG-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Bold.eot");
  src: local("Graphik LCG Bold"), local("../fonts/GraphikLCG/GraphikLCG-Bold"), url("../fonts/GraphikLCG/GraphikLCG-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Bold.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-Extralight.eot");
  src: local("Graphik LCG Extralight"), local("../fonts/GraphikLCG/GraphikLCG-Extralight"), url("../fonts/GraphikLCG/GraphikLCG-Extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-Extralight.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Extralight.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.eot");
  src: local("Graphik LCG Thin Italic"), local("../fonts/GraphikLCG/GraphikLCG-ThinItalic"), url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.eot");
  src: local("Graphik LCG Regular Italic"), local("../fonts/GraphikLCG/GraphikLCG-RegularItalic"), url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  font-family: "Graphik LCG";
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.wrap {
  max-width: 1260px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}

.sec {
  background-size: cover;
  background-position: center;
}

.icon {
  width: auto;
  height: auto;
}

.app {
  max-width: 2400px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: 0.3s all;
}

.header.scroll {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  max-width: 235px;
}

.logo {
  margin-right: 40px;
}
.logo img {
  display: block;
  max-width: 249px;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrap__left {
  display: flex;
  align-items: center;
}

.header__wrap__right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header__phone {
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #FFFFFF;
}

.header__flat {
  margin-left: 40px;
  padding: 11px 24px;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  transition: 0.1s all;
  cursor: pointer;
  color: #FFFFFF;
  position: relative;
}

.header__flat:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__flat .header__flat__arr {
  margin-left: 16px;
  margin-right: 0;
}

.header__flat__arr {
  width: 31px;
  min-width: 31px;
  height: 31px;
  background: #568F27;
  border-radius: 100%;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__flat__arr svg {
  width: 13px;
  height: 8px;
}

.burger {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  cursor: pointer;
}
.burger svg {
  width: 31px;
  height: 31px;
}
.burger .close {
  display: none;
}

.header-menu.active .burger svg {
  display: none;
}
.header-menu.active .burger .close {
  display: block;
}

.header-menu {
  position: relative;
}

.header__nav {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  right: 0;
  padding: 39px 62px;
  background: rgba(255, 255, 255, 0.91);
  min-width: 377px;
}

.header__nav ul {
  margin: 0;
  padding: 0;
}

.header__nav li {
  margin-bottom: 25px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header__nav li:last-child {
  margin-bottom: 0;
}

.header__nav a {
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  padding: 5px 0;
  color: #000000;
  opacity: 0.5;
  transition: 0.3s all;
}

.header__nav li:hover a, .header__nav li.active a {
  opacity: 1;
}

.header__phone__icon {
  display: none;
}

@media (max-width: 1260px) {
  .header__flat {
    margin-left: 20px;
  }

  .burger {
    margin-left: 20px;
  }

  .logo {
    margin-right: 20px;
  }

  .header__text {
    font-size: 16px;
  }

  .header__phone {
    font-size: 16px;
  }

  .header__flat {
    font-size: 18px;
  }

  .header__nav a {
    font-size: 24px;
  }

  .header__nav li {
    margin-bottom: 15px;
  }
}
.header__flat__list {
  display: none;
  position: absolute;
  top: 100%;
  margin: 0;
  margin-top: 15px;
  right: 0;
  padding: 39px 62px;
  background: rgba(255, 255, 255, 0.91);
  min-width: 300px;
}

.header__flat__list li {
  margin-bottom: 25px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header__flat__list li:last-child {
  margin-bottom: 0;
}

.header__flat__list li a {
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  padding: 5px 0;
  color: #000000;
  opacity: 1;
  transition: 0.3s all;
}

@media (max-width: 1100px) {
  .header__text {
    display: none;
  }
}
@media (max-width: 991px) {
  .header {
    height: 78px;
  }

  .logo img {
    max-width: 200px;
  }

  .header__phone__icon {
    display: block;
    margin-right: 23px;
  }

  .header__phone__icon svg {
    width: 32px;
    display: block;
    height: 32px;
  }

  .header__nav {
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #232222;
    margin-top: 77px;
    padding-top: 30px;
    overflow: auto;
    padding-right: 30px;
    padding-left: 30px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header.burger-open {
    background-color: #232222;
  }

  .header__flat {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .header__phone {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .header__flat {
    max-width: 171px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    padding: 5px 11px;
  }

  .header__flat__list {
    right: auto;
    left: 0;
    z-index: 2;
    min-width: 200px;
  }

  .header__flat .header__flat__arr {
    margin-left: 5px;
  }

  .header__flat__arr {
    width: 22px;
    height: 22px;
    min-width: 22px;
  }

  .header__nav a {
    color: #fff;
  }

  .header__nav ul.header__flat__list {
    padding: 25px;
    background-color: #fff;
  }

  .header__nav a {
    font-size: 16px;
    line-height: 1.3;
    /* or 38px */
    color: #FFFFFF;
  }

  .header__flat__list li a {
    font-size: 16px;
    line-height: 1.3;
  }

  .header__flat__list li {
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .logo img {
    max-width: 125px;
  }

  .burger {
    margin-left: 0;
  }

  .wrap {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    height: 70px;
  }

  .header__nav {
    margin-top: 69px;
  }
}
.sec1 {
  position: relative;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  align-items: center;
}

.sec1__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  background-image: url("../img/index/shadow.png");
  background-size: 100% 100%;
  background-position: center;
}

.sec1__wrap {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  padding-top: 155px;
  padding-bottom: 55px;
}

.sec1__left {
  flex: 1;
  padding-left: 272px;
  padding-bottom: 180px;
}

.sec1__right {
  flex: 0 0 505px;
  width: 505px;
}

.sec1__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.sec1__text {
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 66px;
}

.btn-play {
  display: inline-flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 17px;
  line-height: 110%;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-play__icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 100%;
  margin-bottom: 23px;
  transition: 0.3s all;
  position: relative;
  box-shadow: 0 0 0 0 white;
  transform: scale(1);
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
.btn-play__icon svg {
  width: 21px;
  height: 21px;
  margin-left: 5px;
  transition: 0.3s all;
}

.btn-play__icon:before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  position: absolute;
  transition: 0.3s all;
  opacity: 0;
}

.btn-play:hover .btn-play__icon {
  -webkit-animation: none;
  animation: none;
}
.btn-play:hover .btn-play__icon:before {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  opacity: 1;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.sec1__row {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.sec1__row span {
  width: 31px;
  min-width: 31px;
  height: 31px;
  background: #568F27;
  border-radius: 100%;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec1__row span svg {
  width: 13px;
  height: 8px;
}

@media (max-height: 850px) {
  .sec1__title {
    font-size: 50px;
  }

  .sec1__text {
    font-size: 24px;
    margin-bottom: 45px;
  }

  .sec1__right {
    flex: 0 0 495px;
    width: 495px;
  }

  .sec1__row {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .sec1__left {
    padding-bottom: 85px;
  }
}
@media (max-height: 700px) {
  .sec1 {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .sec1 {
    height: auto;
  }

  .sec1__left {
    padding-left: 0;
    justify-content: center;
    display: flex;
  }

  .sec1__right {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .sec1__left {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  .sec1__wrap {
    padding-top: 0;
    margin-top: 106px;
  }

  .sec1__right {
    flex: 1;
    width: 100%;
  }

  .sec1__title {
    max-width: 187px;
  }

  .btn-play__icon {
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .sec1__title {
    font-size: 30px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 12px;
  }

  .sec1__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 44px;
    max-width: 223px;
  }

  .sec1__row {
    margin-bottom: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }

  .sec1__list {
    max-width: 320px;
  }

  .btn-play__icon {
    width: 34px;
    height: 34px;
    margin-bottom: 7px;
  }
  .btn-play__icon svg {
    width: 10px;
    margin-left: 3px;
  }

  .btn-play {
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .sec1__left {
    top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */
