<footer class="footer">
    <div class="wrap">
      <div class="footer__wrap">
  
        <div class="footer__top">
            <div class="footer__top__left">
                <div class="footer__office">
                    <span>офис продаж</span>
                    Москва. Нагатинский проезд, 10 с1
                </div>
                <nav class="footer__nav">
                    <div class="footer__nav__col">
                        <div class="footer__nav__name">
                            О проекте
                        </div>
                        <ul>
                            <li>
                                <a href="">Расположение</a>
                            </li>
                            <li>
                                <a href="">Инфратруктура</a>
                            </li>
                            <li>
                                <a href="">Благосутройство</a>
                            </li>
                            <li>
                                <a href="">Апартаменты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__nav__col">
                        <div class="footer__nav__name">
                            Информация
                        </div>
                        <ul>
                            <li>
                                <a href="">  О застройщике</a>
                            </li>
                            <li>
                                <a href="">Ход строительства</a>
                            </li>
                            <li>
                                <a href="">Условия покупки</a>
                            </li>
                            <li>
                                <a href="">Документация</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="footer__top__right">
                <div class="footer__text">
                    + 7 (495) 000 - 00 - 00
                </div>
                <div class="footer__text">
                    newton-apartment.ru
                </div>
                <div class="footer__text">
                    c 9.00 до 21.00 ежедневно
                </div>
                <a href="" class="footer__policy">Политика обработки персональных данных</a>
                <ul class="footer__soc">
                    <li>
                        <a href="">
                            <img src="./img/soc/1.svg">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/soc/2.svg">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/soc/3.svg">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/soc/4.svg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bot">
            <div class="footer__bot__text">Девелопер</div>
            <div class="footer__bot__row">
                <img src="./img/index/develop-logo.svg">
                <div class="footer__bot__text2">
                    Не является публичной офертой.
                    Визуализации и планировки обьекта являются ориентировочными
                </div>
            </div>
        </div>
      </div>
    </div>
  </footer>
<div class="back-modal" id="back-modal">
    <form class="back-modal__wrap" id="back-modal-form">
        <button class="calc-modal__close back-modal__close" type="button">
            <svg>
                <use xlink:href="./img/sprite.svg#close"></use>
            </svg>
        </button>
        <div class="back-modal__row">
            <input type="text" placeholder="Имя" required>
        </div>
        <div class="back-modal__row">
            <input type="text" placeholder="E-mail">
        </div>
        <div class="back-modal__row">
            <input type="text" placeholder="Телефон" required>
        </div>
        <div class="back-modal__row">
            <textarea placeholder="Что Вас заинтересовало?"></textarea>
        </div>
        <div class="back-modal__row">
            <label class="checkbox">
                <input type="checkbox" checked="">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="0 0 9 7" fill="none">
                    <line x1="8.38977" y1="0.344447" x2="2.67467" y2="6.35793" stroke="#568F27"></line>
                    <line x1="0.379913" y1="2.98646" x2="2.69235" y2="5.68909" stroke="#568F27"></line>
                  </svg>
                </span>
                Я согласен с условиями политики конфиденциальности
              </label>
        </div>
        
        <div class="back-modal__btn">
            <button type="submit" class="btn btn-green ">
                отправить
            </button>
        </div>
    </form>
</div>

<div class="back-modal" id="back-modal-senk">
    <div class="back-modal__wrap">
        <button class="calc-modal__close back-modal__close" type="button">
            <svg>
                <use xlink:href="./img/sprite.svg#close"></use>
            </svg>
        </button>
        <div class="back-modal__title">Спасибо!<br> мы свяжемся с Вами</div>
        <div class="back-modal__btn">
            <button type="button" id="back-modal__close" class="btn btn-green ">
                Закрыть
            </button>
        </div>
    </div>
</div>