<div class="header--white">
    <header class="header" id="header">
        <div class="wrap">
            <div class="header__wrap">
                <div class="header__wrap__left">
                    <a href="index.html" class="logo">
                        <svg width="250" height="60" viewBox="0 0 250 60">
                            <use xlink:href="./img/sprite.svg#logo"></use>
                        </svg>
                    </a>
                    <div class="header__text">
                    Умный жилой комплекс 
                    рядом с набережной
                     </div>
                </div>
                <div class="header__wrap__right">
                    <div class="header__phone">
                        +7 495 745 75 75
                    </div>
                    <a href="tel:+74957457575" class="header__phone__icon">
                        <svg class="icon">
                            <use xlink:href="./img/sprite.svg#phone"></use>
                        </svg>
                    </a>
                    <button type="button" class="header__flat" id="header__flat">
                        выбор квартир 
                        <span class="header__flat__arr">
                            <svg class="icon">
                            <use xlink:href="./img/sprite.svg#v"></use>
                            </svg>
                        </span>
    
                        <ul class="header__flat__list">
                            <li>
                                <a href="">Квартира</a>
                            </li>
                            <li>
                                <a href="">Квартира 2</a>
                            </li>
                            <li>
                                <a href="">Квартира 3</a>
                            </li>
                            <li>
                                <a href="">Квартира 4</a>
                            </li>
                        </ul>
                    </button>
                    <div class="header-menu">
                        <button type="button" class="burger" id="burger">
                            <svg class="icon">
                                <use xlink:href="./img/sprite.svg#burger"></use>
                            </svg>
                            <svg class="icon close">
                                <use xlink:href="./img/sprite.svg#close"></use>
                            </svg>
                        </button>
    
                        <nav class="header__nav" id="header__nav">
                            <ul>
                                <li class="active">
                                    <a href="about.html">О проекте</a>
                                </li>
                                <li>
                                    <a href="location.html">Расположение</a>
                                </li>
                                <li>
                                    <a href="infra.html">Инфраструктура</a>
                                </li>
                                <li>
                                    <a href="blago.html">Благоустройство</a>
                                </li>
                                <li>
                                    <a href="apart.html">Апартаменты</a>
                                </li>
                                <li>
                                    <a href="hod.html">Ход строительства</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Галерея</a>
                                </li>
                                <li>
                                    <a href="about-builder.html">О застройщике</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>