// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

body{
    font-family: 'Graphik LCG';
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400
}
body,html{
    height: 100%;
}
@media(max-width: 767px){
    body{
        font-size: 16px;
    }
}
.wrap{
    max-width: 1260px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}
.sec{
    background-size: cover;
    background-position: center;
}
.icon{
    width: auto;
    height: auto;
}
.app{
    max-width: 2400px;
    width: 100%;
    margin: 0 auto;
}
// подключения компонентов страницы
@import "./components/header";
@import "./components/index";
@import "./components/footer";

// страницы
@import "./components/about";
@import "./components/location";
@import "./components/infra";
@import "./components/hod";
@import "./components/apart";