// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

body{
    font-family: 'Graphik LCG';
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400
}
body,html{
    height: 100%;
}
@media(max-width: 767px){
    body{
        font-size: 16px;
    }
}
.wrap{
    max-width: 1260px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}
.sec{
    background-size: cover;
    background-position: center;
}
.icon{
    width: auto;
    height: auto;
}
.app{
    max-width: 2400px;
    width: 100%;
    margin: 0 auto;
}
.notfound{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 250px;
    line-height: 110%;
    /* or 275px */
    position: relative;
    z-index: 2;
    margin-top: 50px;
    color: #FFFFFF;
    padding-top: 200px;
    padding-bottom: 200px;
}

@media(max-width: 991px){
    .notfound{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media(max-width: 767px){
    .notfound{
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: 30vw;
    }
}
// подключения компонентов страницы
@import "./components/header";
@import "./components/index";
@import "./components/footer";

// страницы
@import "./components/about";
@import "./components/location";
@import "./components/infra";
@import "./components/hod";
@import "./components/apart";
@import "./components/calc";
@import "./components/plan";